<div class="header span-24">
<% menu = capture do %>
  <div class="span-14">
    <% if forum and topic %>
      <%= breadcrumb forum, topic %>
    <% else %>
      <%= breadcrumb %>
    <% end %>
  </div>
  <div class="actions span-10 last">
    <% if forum and topic %>
      <%= topic_actions forum, topic, current_user %>
    <% else %>
      <%= unread_actions current_user %>
    <% end %>
  </div>
<% end %>
<%= menu %>
</div>

<%= yield %>

<div class="footer span-24">
<%= menu %>
</div>
