<% content_tag_for(:tr, topic, :class => topic_icon(topic, current_user)) do %>
  <td class="icon span-1">
    Topic
  </td>
  <td class="title span-11">
    <div class="title">
      <% if unread = topic.first_unread_by(current_user) %>
        <%= link_to label = 'Aller aux nouveaux messages', to_post_path(forum || topic.forum, topic, unread), :title => label, :class => :unread_post %>
      <% end %>
      <%= topic_title forum || topic.forum, topic %>
    </div>
    <% if topic.pages_count > 1 %>
      <div class="pages">
        (<%= link_to "#{topic.pages_count} pages", forum_topic_path(forum || topic.forum, topic, :page => topic.pages_count) %>)
      </div>
    <% end %>
  </td>
  <td class="actions span-1">
    <%= topic_menu(topic, current_user) %>
  </td>
  <td class="by span-3">
    <div class="by">
      <%= user_login topic.user %>
    </div>
  </td>
  <td class="replies span-2">
    <%= topic.replies_count %>
  </td>
  <td class="last_post span-6 last">
    <%= post_summary topic.last_post %>
  </td>
<% end %>
