<% content_tag_for(:tr, post, :class => cycle(:odd, :even) + (action_class == 'unread' ? 'unread' : post_class(topic, post, current_user) ) ) do %>
  <td class="info span-4">
    <div class="user">
      <%= user_login post.user %>
    </div>
  </td>
  <td class="content span-20 last">
    <div class="body">
      <% if post.user.login == 'nofrag' %>
<div style="float: right"><script type="text/javascript">
sas_tmstp=Math.round(Math.random()*10000000000);sas_masterflag=1;
function SmartAdServer(sas_pageid,sas_formatid,sas_target) {
if (sas_masterflag==1) {sas_masterflag=0;sas_master='M';} else
{sas_master='S';};
document.write('<scr'+'ipt SRC="http://www.smartadserver.com/call/pubj/'+sas_pageid+'/'+sas_formatid+'/'+sas_master+'/'+sas_tmstp+'/'+escape(sas_target)+'?"></scr'+'ipt>'); }
sas_pageid='3062/21733';      // Page : gebecom/nofrag/hp
sas_formatid=922;             // Format : Pave250 250x250
sas_target='';                // Targeting
SmartAdServer(sas_pageid,sas_formatid,sas_target);
</script></div>
      <% end %>
      <%= format_text post.body %>
    </div>
    <div class="info">
      <% if action_class == 'unread' %>
        <div class="actions">
          <%= link_to 'Topic', to_post_path(post.topic.forum, post.topic, post) %>
        </div>
      <% else %>
        <div class="<%= action_class %>">
          <%= post_edit forum, topic, post, current_user %>
        </div>
      <% end %>
      <div class="date">
        <%= link_to post.created_at.strftime('%d/%m/%Y à %Hh%M'), to_post_path(post.topic.forum, post.topic, post) %>
      </div>
    </div>
  </td>
<% end %>
